<template>
  <div>
    <v-app class="home grey lighten-3">
      <div style="max-width: 630px; margin: auto">
        <v-container fluid style="min-height: 0" grid-list-lg white>
          <div>
            <table>
              <tr align="center" bgcolor="#B6D4D2">
                <td colspan="4" align="center">
                  <b>current time</b>
                </td>
              </tr>
              <tr align="center" bgcolor="#FFFFFF">
                <td>hour</td>
                <td>Minute</td>
                <td>Second</td>
                <td>am/pm</td>
              </tr>
              <tr align="center" bgcolor="#FFFFFF">
                <td align="center">
                  <input type="text" size="2" v-model="hours" />
                </td>
                <td align="center">
                  <input type="text" size="2" v-model="minutes" />
                </td>
                <td align="center">
                  <input type="text" size="2" v-model="seconds" />
                </td>
                <td align="center">
                  <input type="text" size="2" v-model="ampm" />
                </td>
              </tr>
              <tr align="center" bgcolor="#B6D4D2">
                <td colspan="4" align="center">
                  <form name="arlm">
                    <b>Alarm Time</b>

                    <tr align="center" bgcolor="#ffffff">
                      <td>Hour</td>
                      <td>Minute</td>
                      <td>Second</td>
                      <td>am/pm</td>
                    </tr>
                    <tr align="center">
                      <td>
                        <input
                          type="text"
                          size="2"
                          v-model="alarm.hr"
                          value="05"
                          onFocus="select()"
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          size="2"
                          v-model="alarm.mts"
                          value="00"
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          size="2"
                          v-model="alarm.ssecs"
                          value="00"
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          size="2"
                          v-model="alarm.am_pm"
                          value="am"
                        />
                      </td>
                    </tr>
                    <tr align="center">
                      <td colspan="4" align="center" bgcolor="#b6d4d2">
                        Message
                      </td>
                    </tr>
                    <tr align="center" bgcolor="#ffffff">
                      <td colspan="4">
                        <input type="text" size="20" v-model="message" />
                        <br />
                        <input type="checkbox" name="C1" v-model="playIt" /> Use
                        Audible alarm
                      </td>
                    </tr>
                    <tr bgcolor="#ffffff">
                      <td align="center" colspan="4" bgcolor="#b6d4d2">
                        <input
                          type="button"
                          size="2"
                          value="Set Alarm"
                          @click="setAlarm"
                        />
                      </td>
                    </tr>
                  </form>
                </td>
              </tr>
            </table>
          </div>
          <h1>Waktu Shalat</h1>
          <ul>
            <li style="text-align: right; list-style-position: inside">
              Jakarta
            </li>
          </ul>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card class="bg white--text">
                <v-layout row wrap>
                  <v-flex xs12 md6>
                    <v-card-title primary-title>
                      <tr align="center" bgcolor="transparent">
                        <td align="center">
                          <input type="text" size="2" v-model="hours" />
                        </td>
                        <td align="center">
                          <input type="text" size="2" v-model="minutes" />
                        </td>
                        <td align="center">
                          <input type="text" size="2" v-model="seconds" />
                        </td>
                        <td align="center">
                          <input type="text" size="2" v-model="ampm" />
                        </td>
                      </tr>
                      <div>Next Prayer.</div>
                    </v-card-title>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-img
                      max-height="150"
                      max-width="170"
                      src="~@/assets/images/masjid.png"
                    ></v-img>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <table style="width: 100%">
              <tr>
                <td style="text-align: left"><h2>Muharram 1442</h2></td>
                <td style="text-align: right"><h2>Desember 2020</h2></td>
              </tr>
            </table>
            <v-flex xs12>
              <v-card>
                <vue-horizontal-calendar lang="en"></vue-horizontal-calendar>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <v-card color="purple" class="white--text">
                <v-container fluid grid-list-lg>
                  <v-layout row>
                    <v-flex xs12>
                      <div
                        v-for="solat in shalat"
                        :key="solat.title"
                        class="text-center d-flex align-center justify-space-around"
                      >
                        <div class="headline">Halycon Days</div>
                        <h1>{{ solat.title }}</h1>
                        <h2>{{ solat.time }}</h2>
                        <h2>Ellie Goulding</h2>
                      </div>
                    </v-flex>
                    <br />
                  </v-layout>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </v-app>
  </div>
</template>

<script>
import VueHorizontalCalendar from "vue-horizontal-calendar";

export default {
  name: "Home",
  components: {
    VueHorizontalCalendar,
  },
  data() {
    return {
      playIt: false,
      hours: "00",
      minutes: "00",
      seconds: "00",
      ampm: "pm",
      musicsrc: "alarm.mp3",
      message: "aaa",
      // alarm: {
      //   hr: "12",
      //   mts: "15",
      //   ssecs: "40",
      //   am_pm: "pm",
      // },
      alarm: [
        {
          name: "alarm_subuh",
          hr: "04",
          mts: "26",
          ssecs: "00",
          am_pm: "am",
        },
        {
          name: "alarm_terbit",
          hr: "05",
          mts: "43",
          ssecs: "00",
          am_pm: "am",
        },
        {
          name: "alarm_dzuhur",
          hr: "11",
          mts: "46",
          ssecs: "00",
          am_pm: "am",
        },
        {
          name: "alarm_ashar",
          hr: "02",
          mts: "57",
          ssecs: "00",
          am_pm: "pm",
        },
        {
          name: "alarm_maghrib",
          hr: "05",
          mts: "49",
          ssecs: "00",
          am_pm: "pm",
        },
        {
          name: "alarm_isya",
          hr: "06",
          mts: "58",
          ssecs: "00",
          am_pm: "pm",
        },
      ],
      shalat: [
        {
          imga: "a.png",
          title: "Subuh",
          time: "4.52",
          imgb: "b.png",
        },
        {
          imga: "a.png",
          title: "terbit",
          time: "4.52",
          imgb: "b.png",
        },
        {
          imga: "a.png",
          title: "dzuhur",
          time: "4.52",
          imgb: "b.png",
        },
        {
          imga: "a.png",
          title: "ashar",
          time: "4.52",
          imgb: "b.png",
        },
        {
          imga: "a.png",
          title: "maghrib",
          time: "4.52",
          imgb: "b.png",
        },
        {
          imga: "a.png",
          title: "isya",
          time: "4.52",
          imgb: "b.png",
        },
      ],
    };
  },
  mounted() {
    this.almclktime();
  },
  created() {
    this.setAlarm();
    this.almclktime();
  },
  methods: {
    setAlarm() {
      var vm = this;
      var timeNow = `${vm.hours}${vm.minutes}${vm.seconds}${vm.apm}`; // output ex: '124530am'

      for (var i = 0; i < vm.alarm.length; i++) {
        var timeSholat = `${vm.alarm[i].hr}${vm.alarm[i].mts}${vm.alarm[i].ssecs}${vm.alarm[i].am_pm}`;
        if (timeNow == timeSholat) {
          alert(vm.message);
        }
      }
      setTimeout(vm.setAlarm, 1000);
    },
    playmusic() {
      var vm = this;
      vm.$refs.audioalarm.play();
    },
    almclktime() {
      var vm = this;
      var now = new Date();
      var hour = now.getHours();
      var min = now.getMinutes();
      var sec = now.getSeconds();
      if (min <= 9) {
        min = "0" + min;
      }
      if (sec <= 9) {
        sec = "0" + sec;
      }
      if (hour > 12) {
        hour = hour = 12;
        var add = "am";
      } else {
        hour = new hour();
        add = "am";
      }
      if (hour == 12) {
        add = "pm";
      }
      if (hour == 0) {
        hour = "12";
      }
      vm.hours = hour <= 9 ? "0" + hour : hour;
      vm.minutes = min;
      vm.seconds = sec;
      vm.ampm = add;
      setTimeout(vm.almclktime, 1000);
    },
  },
};
</script>
<style scoped>
.bg {
  background: url("~@/assets/images/a.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/deep/ .horizontal-calendar .date-item {
  line-height: 12px !important;
}
/deep/ .v-application--wrap {
  display: block !important;
}
</style>
